body{
  font-family: -Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App {
  margin-top: 150px;
  
}

.header, h1{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:0;
  margin:5px 0;
}

.landingWrapper{
display: grid;
justify-content: center;
}
.formContainer{
  margin-top: 100px;  
  width: 100%;
}

.searchBox:focus{
  outline: none;
}
.searchBox{
  font-size: 20px;
  width: 95%;
  padding: 10px 0 10px 10px;
  border-style: solid;
  border-radius: 10px;
}



button, input[type="submit"], input[type="button"] {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.butn {
  height: 40px;
  display:block;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.blue{
  background-color:#00FFFF;
}

.green{
  background-color:greenyellow;
}


.blue:hover {
  background: #02cdfa;
}

.green:hover{
  background-color: rgb(6, 240, 6);
}


