body{
  font-family: -Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App {
  margin-top: 150px;
  
}

.header, h1{
  padding:0;
  margin:5px 0;
}

.landingWrapper{
display: grid;
justify-content: center;
text-align: center;
}
.formContainer{
  margin-top: 100px;  
}

.searchBox:focus{
  outline: none;
}
.searchBox{
  font-size: 20px;
  width: 400px;
  padding: 10px 0 10px 20px;
  border-style: solid;
  border-radius: 10px;
}



button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.butn {
  width: 420px;
  margin-top: 20px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #0eb5ed;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
}
.butn:hover {
  background: #0e49eb;
  background-image: -webkit-linear-gradient(top, #0e49eb, #3498db);
  background-image: -moz-linear-gradient(top, #0e49eb, #3498db);
  background-image: -ms-linear-gradient(top, #0e49eb, #3498db);
  background-image: -o-linear-gradient(top, #0e49eb, #3498db);
  background-image: linear-gradient(to bottom, #0e49eb, #3498db);
  text-decoration: none;
}